#summary-area {
  min-height: 100vh;
  color: #35824E;
  background-color: #FFFFFF;
}

#summary-space {
  width: 100%;
  padding-top: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

#summary {
  height: 420px;
  background-color: #5D9B71;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 10px #444444;
}

.summary-title {
  padding-top: 10px;
  text-align: center;
  color: #FFFFFF;
}

.summary-title .condition {
  padding-top: 20px;
}

.summary-subtitle {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  color: #FFFFFF;    
}

#compare {
  height: 30px;
  width: 100%;
  font-size: 16px;
}

#compare #income {
  background-color: #ffc107;
}

#compare #expense {
  background-color: #dc3545;
}

#back {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #ffc107;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 0 10px #444444;
}