#summary-area {
  min-height: 100vh;
  color: #35824E;
  background-color: #FFFFFF;
}

#summary-space {
  width: 320px;
}

#summary {
  height: 100%;
  background-color: #5D9B71;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 10px #444444;
}

.summary-title {
  padding-top: 10px;
  text-align: center;
  color: #FFFFFF;
}

.summary-title .condition {
  padding-top: 20px;
}

.summary-subtitle {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  color: #FFFFFF;    
}

#compare {
  height: 30px;
  width: 100%;
  font-size: 18px;
}

#compare .income {
  background-color: #ffc107;
}

#compare .expense {
  background-color: #dc3545;
}

#back-area {
  text-align: center;
}

#back {
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #ffc107;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 0 10px #444444;
}

@media screen and (min-width: 768px) {
  #summary-space {
    width: 500px;
  }
}
